.offer {
    background-color: salmon;
    padding: 50px;

}

.offer .wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(102, 82, 68);
    overflow: hidden;

}

.offer h3.section {

    text-align: center;
}

.wrapper .section .sub-title {
    font-size: 15px;
}

.wrapper .section .title {
    font-size: 24px;
}

.offer .wrapper .card {
    background-color: lightgreen;
    width: 220px;
    text-align: center;
    float: left;
    margin: 0 15px;
}

.service {

    padding: 50px;
    background: url("../imgs/services-bg.jpg");
    overflow: hidden;
    background-size: cover;
}

.service .two-wrapper {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.service .small-title {
    float: left;
    overflow: hidden;

}

.small-title .s-title {

    font-size: 14px;
    color: lightgreen;
}

.small-title .a-title {

    font-size: 24px;
    color: wheat;
}

.service .four-card {
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
    background-color: mediumpurple;

}

.service .four-card .card {
    width: 480px;
    float: left;
    background-color: lightyellow;
    margin: 10px;
    padding: 25px 0;
    overflow: hidden;
    border-radius: 15px;
}

.service .four-card .card:hover {
    background-color: turquoise;
    color: white;
}

.four-card .card .card-left img {
    width: 50px;
    padding: 40px;
    float: left;

}

.four-card .card .card-right {
    width: 350px;
    margin: 30px 0;
    float: right;
}

.service .two-wrapper .btn {
    float: right;
    background-color: transparent;
    border: 1px solid turquoise;
}

.team {
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}

.team .team-title {

    text-align: center;
}

.team .team-title h2 {
    font-size: 24px;
    font-weight: 700;
}

.team .team-title p {
    font-size: 14px;
    color: #888;
    font-weight: 500;
    margin-top: 10px;
}

.team .team-doctors {
    overflow: hidden;
}

.team .team-doctors .doctor-one {
    float: left;
    width: 270px;
    margin: 30px;
    text-align: center;
}

.team .team-doctors img {
    border: 10px solid white;
    border-radius: 50%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    transition: all, 0.5s;
}

.team .team-doctors .doctor-one h5 {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 5px 0;
}

.team .team-doctors .doctor-one p {
    font-size: 14px;
    color: turquoise;
}

.team .team-doctors img:hover {
    border: 10px solid lightblue;
}

.team .team-doctors .doctor-one .icons i {
    margin: 10px;

}

.gallery {
    height: 620px;
    overflow: hidden;
}

.gallery .gallery-left {
    width: 75%;
    overflow: hidden;
    float: left;
}

.gallery .gallery-left li {
    width: calc(33.33% - 20px);
    float: left;
    height: 300px;
    background-size: cover;
    background-position: center top;
    margin-right: 20px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
}

.gallery .gallery-left li:nth-child(1) {
    background-image: url("../imgs/gallery-1.jpg");
}

.gallery .gallery-left li:nth-child(2) {
    background-image: url("../imgs/gallery-2.jpg");
}

.gallery .gallery-left li:nth-child(3) {
    background-image: url("../imgs/gallery-3.jpg");
}

.gallery .gallery-left li:nth-child(4) {
    background-image: url("../imgs/gallery-5.jpg");
}

.gallery .gallery-left li:nth-child(5) {
    background-image: url("../imgs/gallery-6.jpg");
}

.gallery .gallery-left li:nth-child(6) {
    background-image: url("../imgs/gallery-7.jpg");
}

.gallery .gallery-right {
    background-image: url("../imgs/gallery-4.jpg");
    width: 25%;
    height: 620px;
    float: right;
    background-size: cover;
    background-position: center top;
}

.news {
    width: 1000px;
    margin: 0 auto;
}

.news .wrapper {

    overflow: hidden;
    padding: 0 15px;
}

.news .wrapper .news-title {
    float: left;
}

.news .wrapper .news-title p {}

.news .wrapper .news-title h3 {}

.news .wrapper button {
    float: right;
}

.news .list li {
    overflow: hidden;
    width: 33.33%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.news .list li .card {
    overflow: hidden;
    border: 1px solid white;
    box-shadow: 0px 0px 15px 0px rgb(95, 95, 95, 0.15);
    /* box-shadow  x y偏移 模糊  尺寸 颜色  内外阴影 */
    border-radius: 3px;
    padding: 20px;
    margin: 20px;
}

.news .list li .card a {
    text-decoration: none;
}

.news .list li .card .small-title {}

.news .list li .author {
    float: left;
}

.news .list li .card.small-titler {}

.news .list .author img {
    border-radius: 50px;
    line-height: 30px;
    vertical-align: middle;
}

.news .list .author .name {
    vertical-align: middle;
}

.news .list .author .time {
    vertical-align: middle;
}