.clear::after {
    display: block;
    content: " ";
    clear: both;
}

.site-navbar {
    .container {
        .d-flex {
            .site-logo {
                a{
                    .text-primary{

                    }
                }
            }
            .site-quick-contact{
                .d-flex{
                    .block-icon{
                        .icon-map-marker{
                            
                        }
                    }
                }
            }
        }
    }
}