.clear::after {
  display: block;
  content: "";
  clear: both;
}
.active {
  border-bottom: 2px solid #13a2b7;
}
header .header-top {
  background-color: #0c5d69;
  padding: 15px;
}
header .header-top .container .row .header__top__left {
  display: flex;
}
header .header-top .container .row .header__top__left li {
  margin: 0 10px;
  color: white;
}
header .header-top .container .row .header__top__right {
  float: right;
}
header .header-top .container .row .header__top__right a {
  margin: 0 10px;
  color: white;
}
header .container .row .header__logo {
  padding: 42px 0;
}
header .container .row .header__menu__option {
  padding: 30px 0;
  text-align: right;
}
header .container .row .header__menu__option .header__menu {
  display: inline-block;
  text-transform: uppercase;
}
header .container .row .header__menu__option .header__menu ul {
  display: flex;
  box-sizing: border-box;
}
header .container .row .header__menu__option .header__menu ul li {
  margin: 0 15px;
  position: relative;
  line-height: 30px;
}
header .container .row .header__menu__option .header__menu ul li:nth-child(4):hover {
  border-bottom: 2px solid #13a2b7;
}
header .container .row .header__menu__option .header__menu ul li:nth-child(4):hover .dropdown {
  display: block;
  margin-top: 20px;
}
header .container .row .header__menu__option .header__menu ul li:nth-child(4) .dropdown {
  width: 150px;
  display: none;
  position: absolute;
  top: 15px;
  flex-direction: column;
  background-color: black;
  margin-top: 40px;
  text-align: left;
}
header .container .row .header__menu__option .header__menu ul li:nth-child(4) .dropdown li {
  color: white;
}
header .container .row .header__menu__option .header__btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 30px 10px;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #13a2b7;
  border-radius: 5px;
}
header .container .canvas__open {
  display: none;
}
.mask {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}
.mask .aside {
  width: 300px;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: -300px;
  transition: all 0.5s;
}
.mask .aside .aside-menu .aside-list li {
  font-size: 18px;
  margin: 3px 0;
}
.mask .aside .aside-button {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 30px 10px;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #13a2b7;
  border-radius: 5px;
}
.mask.open {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.328);
}
.mask.open .aside {
  left: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header__menu {
    margin-right: 25px;
  }
  .header__menu ul li {
    margin-right: 25px;
  }
  .header__top__left li {
    margin-right: 10px;
  }
  .mask .aside {
    left: -300px;
  }
}
@media only screen and (max-width: 991px) {
  header .container .canvas__open {
    display: block;
    font-size: 22px;
    color: #222;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #323232;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 35px;
  }
  .header-top {
    display: none;
  }
  .header__menu__option {
    display: none;
  }
  .header__right {
    display: none;
  }
  .header .container {
    position: relative;
  }
  .header__btn {
    display: none;
  }
}
.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.hero {
  padding-top: 145px;
  padding-bottom: 215px;
}
section .container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
section .container .row .col-lg-6 .hero__text span {
  font-size: 15px;
  font-weight: 500;
  color: #13a2b7;
  text-transform: uppercase;
  display: block;
}
section .container .row .col-lg-6 .hero__text h2 {
  font-size: 48px;
  color: #111111;
  font-weight: 700;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 35px;
}
section .container .row .col-lg-6 .hero__text a {
  display: inline-block;
  font-size: 15px;
  padding: 12px 30px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #13a2b7;
  border-radius: 5px;
}
.option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.selected {
  font-weight: bold;
}
.focus {
  background-color: #f6f6f6;
}
.consultation .container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.consultation .container .row .col-lg-4 .consultation__form {
  padding: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-top: -70px;
  background: #ffffff;
}
.consultation .container .row .col-lg-4 .consultation__form .section-title {
  margin-bottom: 35px;
}
.consultation .container .row .col-lg-4 .consultation__form .section-title span {
  font-size: 15px;
  color: #888888;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.consultation .container .row .col-lg-4 .consultation__form .section-title span h2 {
  color: #111111;
  font-weight: 700;
  margin-top: 8px;
  font-size: 36px;
}
.consultation .container .row .col-lg-4 .consultation__form form {
  position: relative;
}
.consultation .container .row .col-lg-4 .consultation__form form input {
  font-size: 15px;
  color: #666666;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  margin-bottom: 20px;
}
.consultation .container .row .col-lg-4 .consultation__form form .datepicker__item input {
  font-size: 15px;
  color: #666666;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  margin-bottom: 20px;
}
.consultation .container .row .col-lg-4 .consultation__form form .datepicker__item i {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 15px;
  color: #666666;
}
.consultation .container .row .col-lg-4 .consultation__form form select {
  word-wrap: normal;
  display: none;
}
.consultation .container .row .col-lg-4 .consultation__form form select option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.consultation .container .row .col-lg-4 .consultation__form form .nice-select {
  float: none;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #f2f2f2;
}
.consultation .container .row .col-lg-4 .consultation__form form .site-btn {
  font-size: 15px;
  color: #ffffff;
  background: #13a2b7;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 30px 12px;
}
.consultation .container .row .col-lg-8 .consultation__text {
  padding: 100px 0;
  position: relative;
}
.consultation .container .row .col-lg-8 .consultation__text .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.consultation .container .row .col-lg-8 .consultation__text .row .consultation__text__item .section-title {
  margin-bottom: 15px;
  font-size: 36px;
}
.consultation .container .row .col-lg-8 .consultation__text .row .consultation__text__item .section-title span {
  font-size: 15px;
  color: #888888;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.consultation .container .row .col-lg-8 .consultation__text .row .consultation__text__item .section-title h2 {
  line-height: 47px;
}
.consultation .container .row .col-lg-8 .consultation__text .row .consultation__text__item .section-title h2 b {
  font-weight: 700;
  color: #13a2b7;
}
.consultation .container .row .col-lg-8 .consultation__text .row .consultation__text__item p {
  color: #444444;
  margin-bottom: 0;
}
.consultation .container .row .col-lg-8 .consultation__text .row .consultation__video {
  height: 262px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.consultation .container .row .col-lg-8 .consultation__text .row .consultation__video a.play-btn {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: #13a2b7;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}
.offer {
  padding: 100px;
}
.offer .container {
  text-align: center;
}
.offer .container .row h2 {
  font-size: 36px;
}
.offer .container .row h2 small {
  margin: 10px 0;
}
.offer .container .row h2 div {
  margin: 10px 0 40px 0;
}
.offer .container .bottom-row h5 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0;
}
/*# sourceMappingURL=./整容医院.css.map */